*.iml
.idea/atlassian-ide-plugin.xml
.idea/codeStyles
.idea/compiler.xml
.idea/dictionaries
.idea/encodings.xml
.idea/jenkinsSettings.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/sonarlint*
.idea/vcs.xml
.idea/workspace.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources
.idea/artifacts
.idea/inspectionProfiles
.idea/runConfigurations.xml
.idea/jarRepositories.xml
.idea/jpa-buddy.xml
.idea/shelf
.idea/jsLibraryMappings.xml
.idea/uiDesigner.xml
node_modules
target
data
.eslintcache
application-personal.yml
.DS_Store

# eclipse specific
.settings
.classpath
.project
